# Fundamentos em Python
****

Essa aula tem objetivo de apresentar os principais fundamentos da linguagem python e suas aplicações no dia a dia.

### Aplicações 
- Desenvolvimento web: Python é muito utilizado no desenvolvimento de aplicações web, através de frameworks como Django e Flask.
- Ciência de dados: Python é uma das linguagens mais utilizadas na área de ciência de dados, graças às bibliotecas Numpy, Pandas, Scikit-learn e outras, que permitem a análise e visualização de dados de forma eficiente e intuitiva.
- Automação de tarefas: Python também é muito utilizado para automação de tarefas, desde scripts simples para renomear arquivos até sistemas de automação de processos empresariais.
- Desenvolvimento de jogos: Python é uma linguagem bastante utilizada no desenvolvimento de jogos, principalmente através da biblioteca Pygame.

#### Conhecendo os Tipos de Dados 
Python é uma linguagem de programação dinamicamente tipada, o que significa que o tipo de dados é inferido a partir do valor atribuído a ele. Existem vários tipos de dados em Python, cada um com suas próprias características e métodos. Nesta resposta, vamos apresentar cada um desses tipos de dados e dar um exemplo prático de como utilizá-los.

##### String (str)

O tipo de dados de string é uma sequência de caracteres que representa um texto. Ela é uma das principais estruturas de dados da linguagem, sendo amplamente utilizada em diversos contextos, como manipulação de arquivos, comunicação com banco de dados e processamento de texto.

Para criar uma string em Python, basta envolver o texto entre aspas simples ou duplas. Por exemplo:

In [3]:
texto = 'Aula de python'
print(texto)

Aula de python

In [4]:
texto

'Aula de python'

Além disso, é possível usar aspas triplas para criar strings com múltiplas linhas. Por exemplo:

In [5]:
multilinhas = '''Aula de 
python 
com professor Leandro Lessa'''

print(multilinhas)

Aula de
python
com professor Leandro Lessa

In [6]:
query = '''
select *
from tb_alunos
where nota > 7'''


print(query)

select *
from tb_produto
where id in (1, 2, 3)

In [11]:
tabela = 'tb_professor'

query = f'''
select *
from  {tabela} 
where nota > 7'''


print(query)

select *
from  tb_professor
where nota > 7

As strings em Python são imutáveis, o que significa que não é possível alterar um caractere específico de uma string. No entanto, é possível criar uma nova string a partir de uma existente, utilizando métodos de manipulação de strings, como o replace() e o split().

In [15]:
query_alterada = query.replace('tb_professor', 'tb_aluno')
print(query_alterada)

select *
from  tb_aluno
where nota > 7

In [16]:
print(query)

select *
from  tb_professor
where nota > 7

Algumas operações comuns que podem ser realizadas com strings incluem concatenação (união de duas ou mais strings), indexação (acesso a um caractere específico da string) e fatiamento (obtenção de uma sub-string a partir da string original).

In [19]:
texto1 =  'olá seja bem vindo'
texto2 = 'primeira aula de python'

texto3 = texto1 + ' ' +  texto2

In [22]:
texto3.lower()

'olá seja bem vindo primeira aula de python'

##### Inteiro (int)
O tipo de dados inteiro (int) representa números inteiros positivos ou negativos. Inteiros podem ser criados simplesmente digitando um número inteiro diretamente no código Python ou podem ser o resultado de operações matemáticas.

In [25]:
a = 10
b = 5

c = a + b

In [26]:
print(c)

15

##### Operações

In [29]:
soma = a + b
divisao = a / b
multiplicacao = a * b
subtracao = a - b

print(f'''
O resultados das operacões sao:
soma: {soma}, 
divisao: {divisao}
      ''')

O resultados das operacões sao:
soma: 15,
divisao: 2.0

##### Ponto Flutuante ou Decimal (float)
O tipo de dados float representa números com casas decimais. Assim como os inteiros, os floats podem ser criados diretamente no código ou como resultado de operações matemáticas.

In [33]:
a = 10.8
b = 3

soma = a + b
divisao = a / b
multiplicacao = a * b
subtracao = a - b

print(f'''
O resultados das operacões sao:
soma: {soma}, 
divisao: {divisao}
      ''')

O resultados das operacões sao:
soma: 13.8,
divisao: 3.6

##### Conversão de Tipos de Dados
É possível realizar conversão de tipos de dados de acordo com a necessidade do contexto.

In [43]:
float('maça')

ValueError: could not convert string to float: 'maça'

##### Boolean (bool)
O tipo de dados boolean é utilizado para representar valores lógicos verdadeiro (True) ou falso (False). Booleans são frequentemente utilizados em estruturas de controle, como if e while.

In [45]:
tem_permissao = False
if tem_permissao:
    print('Acesso liberado')
else:
    print('Acesso negado')

Acesso negado

Exemplo:

In [2]:
numero_sorte = 7

numero = input('Digite um numero de 1 a 10: ')

while True:
    if int(numero) == numero_sorte:
        print('Parabéns')
        break
    else:
        print('Não acertou! ')
        numero = int(input('Digite um numero de 1 a 10: '))

Não acertou!
Não acertou!
Parabéns

In [50]:
numero

100