# Criação de colunas e operações
***

A criação de colunas e a realização de operações são tarefas essenciais na manipulação e transformação de dados no Pandas. Nesse contexto, o Pandas oferece algumas ferramentas úteis, como os métodos assign, transform e apply, que permitem adicionar novas colunas aos DataFrames e aplicar operações em linhas ou colunas existentes.

#### Importação das Bibliotecas

In [63]:
import pandas as pd
import io

#### Coletando Dados de Vendas
***

In [64]:
#Lendo a base de dados

df = pd.read_csv('./datasets/dados_vendas_produtos.csv' , sep=';', encoding='latin1')
df.head()

,Nome do vendedor,Produto vendido,Quantidade unitária,Valor do produto,Valor da venda,Data da compra,Localização
0,Joaquim Souza,Produto B,9,33.32,299.88,12/01/2023,PI
1,Lorenzo da Luz,Produto B,10,94.38,943.80,24/03/2023,DF
2,Gustavo Henrique Moreira,Produto E,9,84.45,760.05,11/06/2022,PE
3,Lorena da Costa,Produto C,5,34.14,170.70,24/12/2022,RO
4,Caio Monteiro,Produto C,2,94.42,188.84,27/05/2022,MG

#### Criando Nova Feature
***

In [65]:
#caluculando valor de da compra

df['Valor da compra'] = df['Quantidade unitária'] *df['Valor do produto']
df.head()

,Nome do vendedor,Produto vendido,Quantidade unitária,Valor do produto,Valor da venda,Data da compra,Localização,Valor da compra
0,Joaquim Souza,Produto B,9,33.32,299.88,12/01/2023,PI,299.88
1,Lorenzo da Luz,Produto B,10,94.38,943.80,24/03/2023,DF,943.80
2,Gustavo Henrique Moreira,Produto E,9,84.45,760.05,11/06/2022,PE,760.05
3,Lorena da Costa,Produto C,5,34.14,170.70,24/12/2022,RO,170.70
4,Caio Monteiro,Produto C,2,94.42,188.84,27/05/2022,MG,188.84

In [66]:
#adicionando uma coluna

df['indicador_atualizado'] =0

In [67]:
df.head()

,Nome do vendedor,Produto vendido,Quantidade unitária,Valor do produto,Valor da venda,Data da compra,Localização,Valor da compra,indicador_atualizado
0,Joaquim Souza,Produto B,9,33.32,299.88,12/01/2023,PI,299.88,0
1,Lorenzo da Luz,Produto B,10,94.38,943.80,24/03/2023,DF,943.80,0
2,Gustavo Henrique Moreira,Produto E,9,84.45,760.05,11/06/2022,PE,760.05,0
3,Lorena da Costa,Produto C,5,34.14,170.70,24/12/2022,RO,170.70,0
4,Caio Monteiro,Produto C,2,94.42,188.84,27/05/2022,MG,188.84,0

In [ ]:
#multiplicação por 0 para termos o infinito

df['teste'] =df['Valor do produto'] /0 * -1
df.head()

In [ ]:

df['teste1'] =df['Valor do produto'] /2 * 3
df.head()

In [76]:
df.columns
max(df.columns, key = len)

'indicador_atualizado'

In [ ]:
#Ordenando dados e colunas em especifico, posso muldar uma cloluna de posição usando função abaixo

colunas_ordenadas = ['Nome do vendedor','Data da compra' , 'Produto vendido', 'Quantidade unitária', 
                     'Valor do produto','Valor da compra','Localização',
                     'indicador_atualizado']
df[colunas_ordenadas]

In [51]:
df.dtypes

Nome do vendedor        object
Produto vendido         object
Quantidade unitária      int64
Valor do produto       float64
Valor da venda         float64
Data da compra          object
Localização             object
dtype: object

#### Método apply
***
O método apply é usado para aplicar uma função a cada linha ou coluna de um DataFrame. Podemos usar funções definidas por nós mesmos ou funções built-in do Python.

In [87]:
#função para calulcuar comissaõ, aplicando regra apenas em uma linha da tabela
def calcular_meta_e_comissao(Valor_venda):
    if Valor_venda >= 500:
        meta= 'Acima de 500'
        comissao = Valor_venda * 0.1
    else:
        meta= 'Abaixo de 500'
        comissao = Valor_venda * 0.05
        return pd.Series([meta, comissao])

In [101]:
def calcular_meta_e_comissao(valor_venda):
    if valor_venda > 200:
        meta= 'Acima de 500'
        comissao= valor_venda * 0.1
    else:
        meta= 'Abaixo de 500'
        comissao= valor_venda * 0.05
        return pd.Series([meta, comissao])

In [75]:
calcular_meta_e_comissao

In [98]:
df['Valor da venda'].apply(calcular_meta_e_comissao)

0                                                   None
1                                                   None
2                                                   None
3      0    Abaixo de 500
1            8.535
dtype: o...
4      0    Abaixo de 500
1            9.442
dtype: o...
                             ...
995    0    Abaixo de 500
1            2.129
dtype: o...
996                                                 None
997    0    Abaixo de 500
1            4.284
dtype: o...
998    0    Abaixo de 500
1            9.204
dtype: o...
999    0    Abaixo de 500
1            7.776
dtype: o...
Name: Valor da venda, Length: 1000, dtype: object